.env
Dataset_1/
Dataset_2/
Trained_model/
Test_Result/
test
client_1/dataset_1
client_2/dataset_2
client_3/dataset_3
client_4/dataset_4
venv/
GarbageCollection/
__pycache__/


models/__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
migrations/
Result/
predicted_outputs/
#DataSet/